<div >
<% if (currentUser) { %>
    <a href = '/product'>
        <img class = 'logo' id = "logoId" type = 'text/css' src = "/assets/logo_transparent.jpg" alt = "R and Z Essentials logo"/>
    </a>    
<% }else { %>
    <img class = 'logo' type = 'text/css' src = "/assets/logo_transparent.jpg" alt = "R and Z Essentials logo"/>
<% } %> 
</div>
