<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs') %>
    <%- include ('./partials/menu.ejs') %>
    <title>About</title>
</head>
<body>
    <%- include ('./partials/head.ejs') %>
    <div class = 'aboutPage'>   
        <h1 class = 'headerText'> About</h1><br>
        <div class="aboutPageModal">
            <h2 class = "aboutPageHeading">Hello &#x1F44B;! </h2>
            <h5 class = "aboutPageContent">I see you're about the enter the wonderful world of content creation, welcome! We, here at R&Z Essentials are dedicated to making your video and photography dreams come true! Check out our extensive selection of products created and curated by our awesome users! Feel free to browse and purchase products and even sell any of your own products. </h5>
            <h4>Create a Free Account and join the community!</h4>
        </div>
    </div> 
</body>
</html>