<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <% for (let i = 0; i < product.length; i++) { %>
    <p>
        Name:
        <a href = '/product/<%= product[i].id %>'>
            <%= product[i].name %>
        </a>
    </p>
    <p>
        Price:
        <%= product[i].price %>
    </p>
    <% } %>
    <a href = "/product/new">Create New Product</a>
</body>
</html>