<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/header.ejs') %>
        <%- include ('./partials/menu.ejs') %>
        <title>New Product</title>
    </head>
<body>
    <main>
    <h1 class = 'headerText'>New Product</h1>
    <div class = 'newContainer'>
    <form action = "/product" method = "POST">
        <label class = 'label'>Product Name:</label><br>
        <input type = 'text'  name = "name" class = 'inputBox'><br>
        <label class = 'label'>Product Description:</label><br>
        <textarea name = "description" class = 'inputBox textBox'></textarea><br>
        <label class = 'label'>Price:</label><br>
        <input type = 'text'  name="price" class = 'inputBox'><br>
        <label class = 'label'>Image Url:</label><br>
        <input type = 'text'  name="image" class = 'inputBox'><br>
        <label class = 'label'>Product Quantity:</label><br>
        <input type = 'text'  name = "quantity" class = 'inputBox'><br>
        <input type = 'submit' name = 'Submit'>
    </form>
</div>
</main>
<footer>
    <button class = 'backButton'>
        <a href='/product' >Back</a>
    </button>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</footer>
</body>
</html>