<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>New Product</h1>
    <form action = "/product" method = "POST">
        <input type = 'text' placeholder = 'Product Name' name = "name"><br>
        <textarea name = "description"></textarea><br>
        <input type = 'text' placeholder = 'Price' name="price"><br>
        <input type = 'text' placeholder = 'URL' name="image"><br>
        <input type = 'submit' name = 'Submit'>
    </form>
    <a href='/product'>Back</a>
</body>
</html>