<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <h1>Product Page</h1>
    <p>
        <%= product.name %><br>
        <%= product.price %><br>
        <img class = 'showImage' src = "<%= product.image %>"/><br>
        <a href = '/product/<%= product.id %>/edit'>Edit Product</a>
    </p>
    <a href='/product'>Back</a>
</body>
</html>