body {
    background-color: #cccc00;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

main {
    margin: 5%;
}
.headerText {
    color: black;
    margin: 5%
}


.inImage {
    max-width: 90%;
    max-height: 90%;
    display: block;
    text-align: center;
    display: inline-block;
    /* border: 1px solid black; */
    border-radius: 15px 15px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); 
    /* The above box-shadow code came from https://gist.github.com/gertig/3441369 to replicate the effect of mac osx window shadow */
}

.showImage {
    margin: 50% 2%;
    max-width: 90%;
    max-height: 90%;
    display: block;
    text-align: center;
    display: inline-block;
    /* border: 1px solid black; */
    border-radius: 15px 15px;
    padding: 5px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); 
    /* The above box-shadow code came from https://gist.github.com/gertig/3441369 to replicate the effect of mac osx window shadow */
}
.box {
    text-align: center;
    display: inline-block;
    width: 250px;
}


.itemPlus {
    margin: 7% 3% 3%;
    background-color:#394A55;
    display: inline-grid; 
    border: 1px solid black;
    border-radius: 15px 15px;
    height: auto;
    padding: 1%;
    height: 500px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); 
    /* The above box-shadow code came from https://gist.github.com/gertig/3441369 to replicate the effect of mac osx window shadow */
}

.label{ 
    margin: 10px;
}

.newContainer{
    background-color: #394A55;
    display: inline-grid; 
    border: 1px solid black;
    border-radius: 15px 15px;
    padding: 50px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); 
    /* The above box-shadow code came from https://gist.github.com/gertig/3441369 to replicate the effect of mac osx window shadow */
}

.backButton {
    position: relative;
    top: 15px;   
}

.newProductH1, .label, .inputBox{
    text-align: center;
    margin: 10px;
    
}

.textBox {
    resize: none;
    padding: 25px;
}

.showContainer {
    margin: 7%;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-around;
    background-color: rgba(20, 114, 255, 0.815);
    border-radius: 15px 15px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); 
    /* The above box-shadow code came from https://gist.github.com/gertig/3441369 to replicate the effect of mac osx window shadow */
} 

.showTextContainer { 
    text-align: left;
    border: 1px solid black;
    border-radius: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.allShowButtons {
    display: flex;
    flex-direction: column;
}

.productName {
    color: white;
    text-decoration: none;
}
/* Partials styling */

.sideNav {
    border-radius: 1px 15px 15px 1px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 0px;
    height: 100%;
    background-color: black;
    transition: 0.5s;
}

.sideNav a{ 
    color: gray;
    text-decoration: none;
    display:block;
    transition: 0.3s;
}

.sideNav a:hover{
    color: white;
    
}

.navCloseButton {
    position: relative;
    top: 0;
    left: 100px;
    font-size: 50px;
}
.menuIcon {
    margin: 5% 4%;
    font-size: 20px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.footer {
    display: block;
    position: absolute;
}