<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/menu.ejs') %>
    <title>Log In</title>
</head>
<body>
    <header>
        <img class = 'logInLogo' type = 'text/css' src = "/assets/logo_transparent.jpg" alt = "R and Z Essentials logo"/>
    </header>
    
    <div class='userContainer'>
        <h1>Log In</h1>
        <form action="/sessions" method="POST">
            <div>
                <label for="username">Username</label>
                <input required type="text" name="username"/>
            </div>
            <div>
                <label for="password">Password</label>
                 <input required type="password" name="password"/>
            </div>
            <input type="submit" value="Log In"/>
        </form>
    </div>
</body>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>


<!-- Idea for the log in page was emulated using the notes from the class -->