<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') %>
    <title>Sign Up</title>
</head>
<body>
    <!-- Start of Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%- include('../partials/menu.ejs') %>
      </nav>
       <!-- End of Nav -->
    <div class='container'>
        <h1>Sign Up</h1>
        <form action="/users" method="POST">
            <div>
                <label for="username">Username</label>
                <input required type="text" name="username"/>
            </div>
            <div>
                <label for="password">Password</label>
                 <input required type="password" name="password"/>
            </div>
            <input type="submit" value="Sign up"/>
        </form>
    </div>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>
